html {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
}
p {
  margin-bottom: 0;
}
input,
textarea,
select,
button {
  outline: none;
}
input {
  line-height: normal;
}
label,
button {
  cursor: pointer;
}
a {
  text-decoration: none;
  color: #000;
}
img {
  display: block;
  max-width: 100%;
}
ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container-fluid {
  max-width: 1720px;
  margin: auto;
}
.container {
  max-width: 1568px;
  margin: auto;
}
